from IPython.display import display
from bokeh.io import output_notebook, show
from bokeh.layouts import column, row
from bokeh.models import GeoJSONDataSource, LinearColorMapper, ColorBar, HoverTool, Select, Button, CustomJS
from bokeh.models import GeoJSONDataSource, LinearColorMapper, ColorBar, HoverTool, Slider, CustomJS, Button
from bokeh.palettes import OrRd
from bokeh.plotting import figure
from google.cloud import storage
from google.colab import auth
from scipy.interpolate import make_interp_spline
from shapely.geometry import Point
from tabulate import tabulate
import geopandas as gpd
import json
import matplotlib.dates as mdates
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import warnings